<!DOCTYPE html>
<html>

<head>
    <title>Clean beach please | Get involved</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="icon" href="./images/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
</head>

<body>
    <div id="page">
        <div class="topNavigationLink"><a href="index.html">Home</a></div>
        <div class="topNavigationLink"><a href="blog.html">Blogs</a></div>
        <div class="topNavigationLink current"><a href="getinvolved.html">Get Involved</a></div>
        <div class="topNavigationLink"><a href="events.html">Events</a></div>
        <div class="topNavigationLink"><a href="about.html">About Us</a></div>
    </div>
    <div class="contentBox">
        <div class="innerBox">
            <div class="contentTitle">“Would you be willing to help by giving a donation? Every effort will help.”
            </div>
            <div class="contentText">
                <br>
                <h3>Host a Group CleanUp!</h3>
                <br>
                <p><a href="blog1.html"><u> Refer to the Blog Section for Everything you need!</u></a>
                    It's not a big effort that takes a toll on you but makes you a better human being.
                    Donate for the Society and make the world a better living place.</p>
                <br>
            </div>
            <div class="contentTitle" id="signup">Sign Up to Help Us</div>
            <div class="contentText">
                <form name="signup" action="/signup" method="POST" ng-app="">
                    <table>
                        <tr>
                            <td><label for="name">Your Name: </label></td>
                            <td><input type="text" required name="name" size=30 placeholder="Name"
                                    ng-pattern="/^[a-z ]*$/i" ng-model="name"></td>
                        </tr>
                        <tr>
                            <td><label for="email">Email Address: </label></td>
                            <td><input type="email" required name="email" size=30 placeholder="Email" ng-model="email">
                            </td>
                        </tr>
                        <tr>
                            <td><label for="phone">Phone Number: </label></td>
                            <td><input type="text" required name="phone" placeholder="Phone no." size=20
                                    ng-pattern="/^[0-9]{10}$/" ng-model="phone"></td>
                        </tr>
                        <tr>
                            <td><label for="event">Event Name: </label></td>
                            <td><select name="event" ng-model="event">
                                    <option value="event 1">Clean Up campaign funded by VIT,
                                        Chennai</option>
                                    <option value="event 2">Grand Beach Clean in collaboration with VIT University,
                                        Vellore</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><label for="group">
                                    Is your Company/Organization volunteering? </label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="radio" name="group" value="yes"> Yes <span
                                    style="margin-right: 10px;"></span> <input type="radio" name="group" value="no"> No
                            </td>
                        </tr>
                        <tr>
                            <td><label for="time">What time can you work for?</label></td>
                            <td><input type="radio" name="time" value="slot1">8-11</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="radio" name="time" value="slot2">12-3</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="radio" name="time" value="slot3">4-7</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="radio" name="time" value="slot4">Any time</td>
                        </tr>
                        <tr>
                            <td><label for="work">What work are you interested in?</label></td>
                            <td><input type="checkbox" name="work" value="cleaning">Cleaning</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" name="work" value="transportation">Transportation</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" name="work" value="food">Refreshment
                                Distribution</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" name="work" value="medical">First Aid
                                Services</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="checkbox" name="work" value="else">Wherever
                                Needed</td>
                        </tr>
                        <tr>
                            <td align="right"><input ng-show="signup.name.$valid && signup.email.$valid && 
 signup.phone.$valid && signup.event.$dirty" type="submit" name="submit" value="Submit"></td>
                            <td align="left"><input type="reset" name="reset" value="Reset"></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="contentTitle" id="donate">Donate Us To Help Us</div>
            <div class="contentText">
                <p>
                    Along with participation of enthusiastic volunteers, there are some who cannot come on spot for help
                    but they help in organizing and funding the volunteer
                    drives.
                    These people are major contributors in the success of our mission as they help us by funding the
                    events which contributes in taking care of volunteers during
                    cleanliness drive, proper disposal of waste, and other money related matters.
                </p>
                <p>
                    Even you can become a part of this community by contributing to us.
                    No minimum amount of money is required as any money donated to us is a great help for us. We ensure
                    that each and every rupee which you donate to us will be used in our cause only. For donation,
                    kindly click the button below. </p>
                <a href="payment.html"><button type="button" name="payment">Donate</button></a>
            </div>
        </div>
    </div>
    <div id="footer">
        Web development by <a target="_blank" href="https://linkedin.com/in/">RS</a>, <a target="_blank"
            href="https://linkedin.com/in/">RR</a> and <a target="_blank" href="https://linkedin.com/in/">DV</a>
    </div>
</body>

</html>